*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
       
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
}
input:active,input:focus{
    outline: 0;
}

.login_page{
    position: fixed;
    background-color: #E4EBF5;
    width: 390px;
    height: 580px;
    border-radius: 50px;
    padding: 40px 20px;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.3rem -0.3rem 0.6rem #fff;
}

.img_login{
    width: 100px;
    height: 100px;
    margin: 4rem auto;
    padding: 15px;
    border-radius: 100px;
}

.form-group{
    margin-bottom: 2rem;
    height: 40px;
    border-radius: 50px;
    box-shadow: inset 0.3rem 0.3rem 0.6rem #c8d0e7, inset -0.3rem -0.3rem 0.6rem #fff;
}
.form-group input{
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 1rem;
}

.btn_form{
    border: none;
    background-image: linear-gradient(to right , #fd7e6a ,#fd0101 );
    color: #ffff;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0.3rem 0.3rem 0.6rem #2d2d2d;
    cursor: pointer;
    background-size: 400% 400%;
    animation: bg_animation 3s ease infinite;
    -webkit-animation: bg_animation 3s ease infinite;
}

#particles-js{width: 100%;
height: 100%;
position: fixed;

background-color: #fecaca;}

.hanoz{display: none;}

@keyframes bg_animation {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}